<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="header__logo">
                <div>
                    <img src="img/logo.svg" alt="ЛогоТатошка" width="70px" height="59px">
                </div>
            </div>
            <div class="header__menu">
                <ul class="menu-items">
                    <li><a href="index.html">Главная</a> </li>
                    <li><a href="doctors.html">Врачи</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>

            </div>
            <div class="header__contacts">
                <a href="index.html">
                    <img src="img/logout.svg" alt="Выйти" title="Выйти" width="25px" height="25px">
                </a>
            </div>
        </div>

    </header>
    <div class="user-wrapper">
        <%for(let user of goods) {%>
            <div>Имя: <%=user.name%>
            </div>
            <div>Логин: <%=user.login%>
            </div>
            <div>Пароль: <%=user.password%>
            </div>
            <div>Секретная информация: <%=user.secret%>
            </div>
            <div>Хэш пароля: <%=user.hash%>
            </div>
            <%}%>
    </div>
    
        <%- include ('blocks/footer') -%>
</body>

</html>